@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Fira+Sans+Condensed:wght@300&display=swap');

body {
  background-image: url("assets/background.png");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.navbar {
  position: absolute; 
  top: 0;
  right: 0;
  padding-right: 70px;
  padding-top: 2%;
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));
}

.navbar a{
  padding-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* INPUT_FORM.HTML ---------------------------------------------------------------------- L*/

/* HEADER */


.header-a {
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));
  text-align: center;
  margin-top: 8px;
}

.project-name-a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  font-family: "Darumadrop One", cursive;
}

/* FORM/INPUT */

.input-group {
  position: relative;
}

.input-box {
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));
  color: rgba(232, 232, 232, 0.7);
  width: 75%;
  height: 50px;
  margin: 3% 0% 3% 10%;
  border: solid 1px white;
  border-radius: 10px;
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: black;
  padding-left: 2%;
  font-size: 12px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

input:focus {
  outline: none;
  border: 2px solid rgb(111, 111, 111, 0.8);
  color: rgb(111, 111, 111, 0.8);
  font-weight: bold;
  font-size: 14px;
  padding-left: 1%;
}

input:focus::placeholder {
  color: transparent;
}

/* BUTTON/SUBMIT/ARROW */

button {
  /* border-radius: 10px; */
  border: none;
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));
  background-color: rgba(232, 232, 232, 0); 
  padding: 5px;
  
}

button:active,
button:focus {
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  border-radius: 5px;
 background-color: rgba(225, 225, 225, 0.5); 
}

/* FOOTER */

.footer-a {
  position: fixed;
  bottom: 0;
  left: 40%;
  right: 40%;
}
.footer-item-a {
  margin: 5px;
  padding: 10px 3px;
  opacity: 0.8;
}

/* ANALYSIS.HTML ---------------------------------------------------------------------- */


.header-b {
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));
  text-align: left;
  padding-top: 2%;
  padding-left: 75px;
}

.project-name-b {
  font-size: 45px;
  text-decoration: none;
  color: white;
  font-family: "Darumadrop One", cursive;
}

.main-content {
  color: rgba(78, 78, 78, 1);
}

.main-content h2 {
  font-size: 24px;
  margin: 10px 100px;
  font-family: "Darumadrop One", cursive;
  color: rgba(250, 250, 250, 1);
}


.main-content p {
  font-size: 16px;
}

.heading-content {
  filter: drop-shadow(4px 4px 15px rgb(111, 111, 111));
  text-align: center;
  color: rgba(250, 250, 250, 1);

}

.heading-content h1 {
  font-family: "Darumadrop One", cursive;
  margin: 0;

}

.summary-content {
  align-items: center;
}
.summary-box {
  border: 1px solid rgb(111, 111, 111, 0.5);
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 80px;
}

.summary-box p {
  margin: 0;
}

.viewpoints-text {
  display: flex;
  justify-content: space-between;
}

.viewpoints-box {
  display: flex;
  justify-content: space-between;
}

.primary-text {
  text-align: left;
}

.primary-box {
  border: 1px solid rgb(111, 111, 111, 0.5);
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin-left: 80px;
  margin-right: 10px;
  width: 49%;
  float: left;
}

.primary-box p {
  margin: 0;
}

.secondary-text {
  text-align: right;
}
.secondary-box {
  border: 1px solid rgb(111, 111, 111, 0.5);
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin-right: 80px;
  margin-left: 10px;
  width: 49%;
  float: right;
}

.secondary-box p {
  margin: 0;
}

.additional-content {
  align-items: center;
}
.resources-box {
  border: 1px solid rgb(111, 111, 111, 0.5);
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 80px;
  margin-bottom: 30px;
}

.resources-box p {
  margin: 0;
}

/* FOOTER */

.footer-b {
  position: relative;
  bottom: 0;
  margin-left: 40%;
  margin-bottom: 10px;
}
.footer-item-b {
  margin: 5px;
  padding: 10px 3px;
  opacity: 0.8;
}


/* INDEX PAGE (ABOUT AND CONTACT) -----------------------------------------------------*/


/* ABOUT */
.about-header {
  margin: 3%;
}
.about-header p {
  margin: 0 10%;
  color: white;
  font-weight: bold;
}
.about-header h1{
  color: white;
  font-family: "Darumadrop One", cursive;
  padding-left: 100px;
}

.about-left-right {
  margin: 0 12%;
  display: flex;
}

.about-left-right h3{
  font-size: 24px;
  color: white;
  font-family: "Darumadrop One", cursive;
  margin: 0;
}
.about-left-right h5{
  font-size: 16px;
  font-weight: bold;
}
.about-left-right h5, li{
  color: white;
}

.about-left-side {
  float: left;
  width: 50%;
}

.about-right-side {
  float: right;
  width: 50%;
}

.about-section {
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));

}

.about-header p {
  margin: 0 10%;
  color: white;
  font-weight: bold;
}
.misc-info p {
  margin: 0 12%;
  color: white;
  font-weight: bold;
  padding-left: 100px;
}
.misc-info h5{
  margin: 0 12%;
  font-size: 22px;
  color: white;
  font-family: "Darumadrop One", cursive;
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));

}
/* CONTACT */

.contact-header {
  margin: 3%;
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));

}
.contact-header p {
  margin: 0 10%;
  color: white;
  font-weight: bold;

}
.contact-header h1{
  color: white;
  font-family: "Darumadrop One", cursive;
  padding-left: 100px;

}

.contact-card{
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  filter: drop-shadow(4px 4px 10px rgb(111, 111, 111));
}


.contact-row-a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;

}

.contact-row-b {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  text-align: center;
}

.contact-columns{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

.contact-card h3{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.contact-card h5{
  font-size: 16px;
  text-align: center;
}

.contact-card p{
  font-size: 14px;
}